/src/node_modules
mysql_data/
/src/*.log
/src/.DS_Store
/src/.env.backup
/src/.env.production
/src/.phpactor.json
/src/.phpunit.result.cache
/src/.codex
/src/.cursor/
/src/.idea
/src/.nova
/src/.phpunit.cache
/src/.vscode
/src/.zed
/src/auth.json
/src/public/build
/src/public/fonts-manifest.dev.json
/src/public/hot
/src/public/storage
/src/storage/*.key
/src/storage/pail
/src/vendor
/src/_ide_helper.php
/src/Homestead.json
/src/Homestead.yaml
/src/Thumbs.db